# --- Cursor SDK / Orchestator ---
CURSOR_API_KEY=KLUCZ
AGENT_MODEL=auto #np. composer-2.5

#--- TOOLS ---
MCP_TOOLS_SKILLS_DIR=C:\Users\Radek\Desktop\Projekty\cursor_files\.cursor\skills
MCP_TOOLS_MCP_CONFIG_FILE=C:\Users\Radek\Desktop\Projekty\cursor_files\.cursor\mcp.json